*{margin: 0 auto; padding:0;}

body {
	width: 1000px;
}

header img{
	width:100%;
	height:200px;;
}

.left{
	clear:both;
	float:left;
}

.left iframe{
	height:400px;
}

.main {
	position:absolute;
	top:30%;
	left:31%;
}